.messages {
  background: var(--bg);
  padding: 5% 0;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: -2px -2px 5px 0px var(--bs-p), 2px 2px 5px 0px var(--bs-s);
  overflow: auto;
  flex: auto;
}
